::ng-deep .mat-mdc-form-field .mdc-floating-label--required::after { display: none; }
::ng-deep .mat-mdc-form-field .mdc-notched-outline__leading { border-radius: 10px 0 0 10px; }
::ng-deep .mat-mdc-form-field .mdc-notched-outline__trailing { border-radius: 0 10px 10px 0; }

.btn-save:hover { background: #4931ff; }
.cursor-pointer { cursor: pointer; }