<div class="p-4">
  <div class="d-flex justify-content-between align-items-center pb-2">
    <h6 class="fw-bold p-0">Change Password</h6>
    <button (click)="onCancel()" class="border-0 bg-transparent text-light-custom">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="p-0">
    <form [formGroup]="form" novalidate>
      <mat-form-field
        appearance="outline"
        class="w-100 pt-2 fw-medium"
        [class.mb-2]="f['currentPassword'].errors?.['required'] && f['currentPassword'].touched"
      >
        <mat-label class="fw-medium">Current Password</mat-label>
        <input
          matInput
          formControlName="currentPassword"
          [type]="showCurrent ? 'text' : 'password'"
        />
        <mat-icon matSuffix class="cursor-pointer" (click)="showCurrent = !showCurrent">
          {{ showCurrent ? 'visibility' : 'visibility_off' }}
        </mat-icon>

        @if (f['currentPassword'].errors?.['required']) {
        <mat-error>Current password is required.</mat-error>
        }
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="w-100 pt-2 mb-2 fw-medium"
        [class.mb-2]="f['newPassword'].errors?.['required'] && f['newPassword'].touched"
      >
        <mat-label class="fw-medium">New Password</mat-label>
        <input matInput formControlName="newPassword" [type]="showNew ? 'text' : 'password'" />
        <mat-icon matSuffix class="cursor-pointer" (click)="showNew = !showNew">
          {{ showNew ? 'visibility' : 'visibility_off' }}
        </mat-icon>

        @if (f['newPassword'].errors?.['required']) {
        <mat-error>New password is required.</mat-error>
        }
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="w-100 pt-2 mb-2 fw-medium"
        [class.mb-3]="f['confirmPassword'].errors?.['required'] && f['confirmPassword'].touched"
      >
        <mat-label class="fw-medium">Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="showConfirm ? 'text' : 'password'"
        />
        <mat-icon matSuffix class="cursor-pointer" (click)="showConfirm = !showConfirm">
          {{ showConfirm ? 'visibility' : 'visibility_off' }}
        </mat-icon>

        @if (f['confirmPassword'].errors?.['required']) {
        <mat-error>Confirm password is required.</mat-error>
        }
      </mat-form-field>

      @if (f['newPassword'].errors?.['minlength'] || f['newPassword'].errors?.['maxlength']) {
      <mat-error class="mb-1">Password must be 8-15 characters.</mat-error>
      } @if (f['newPassword'].errors?.['pattern']) {
      <mat-error class="mb-2">Must include letters, numbers & special character.</mat-error>
      }
    </form>
  </mat-dialog-content>

  @if ( f['confirmPassword'].touched && !f['confirmPassword'].errors?.['required'] &&
  form.errors?.['passwordMismatch'] ) {
  <div class="text-danger small mb-3">Passwords do not match.</div>
  }

  <div class="row w-100 m-0">
    <div class="col-6 ps-0">
      <button
        type="button"
        class="w-100 btn-secondary-custom py-3 fw-bold rounded-3 fs-14"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
    <div class="col-6 pe-0">
      <button
        type="submit"
        class="w-100 btn-primary-custom btn-save py-3 fw-bold rounded-3 fs-14"
        (click)="onSave()"
      >
        Save
      </button>
    </div>
  </div>
</div>
