@if (isTokenValid) {
<div class="reset-box w-100">
    <div class="text-center mb-5">
        <span class="logo-text">H<span class="logo-o">o</span>meCare</span>
    </div>

    <h3 class="content text-center mb-5 fs-4 fw-400">
        Reset password
    </h3>

    
    <form [formGroup]="adminResetForm" (ngSubmit)="onSubmit()">
        <app-input-component 
            label="New Password" 
            type="password" 
            requiredMessage="New Password is required"
            [control]="passwordControl"
            class="input-spacing">
        </app-input-component>
    
        <app-input-component 
            label="Confirm Password" 
            type="password" 
            requiredMessage="Confirm Password is required"
            [control]="confirmPasswordControl"
            class="input-spacing">
        </app-input-component>


        @if (adminResetForm.hasError('passwordMismatch') && confirmPasswordControl.touched) {
        <div class="text-danger small mb-2 ms-1">
            Passwords do not match.
        </div>
        }

        <button type="submit" class="btn-primary-custom w-100 py-3" [disabled]="adminResetForm.invalid || isSubmitting">
            {{ isSubmitting ? 'Resetting...' : 'Reset Password' }}
        </button>
    </form>
</div>
}

@if (!isTokenValid) {
<div class="text-center">
    <h2>{{resetMessage}}</h2>
</div>
}